openapi: 3.0.2
x-json-schema-faker:
  maxItems: 2
info:
  description: |
    # Overview

    Noona provides a powerful REST(y) API that focuses on simplicity and clarity.

    - All API requests must be made over HTTPS. Calls made over plain HTTP will be redirected to HTTPS.

    **Base Path**
    ```
    https://api.noona.is
    ```

    The HQ API controls individual companies. A developer writing a plugin for individual hair salons would do so using the HQ API.

    Example user: **A hair saloon**.

  title: Noona HQ API
  version: dev
  x-logo:
    url: https://api.noona.is/docs/img/logo_black.svg

servers:
  - url: https://api.noona.is

x-tagGroups:
  - name: Enterprises
    tags:
      - Enterprise
      - Settlement Accounts
      - Payments
      - Settlements
      - Voucher Templates
      - Vouchers
  - name: Companies
    tags:
      - Companies
      - User Invites
      - Rule Sets
      - Rule Set Templates
      - AI Translations
      - Event Types
      - Event Type Groups
      - Event Type Category Groups
      - Event Type Categories
      - Employees
      - Resources
      - Resource Groups
      - Scheduled Events
      - Events
      - Event Statuses
      - Time Slots
      - Holidays
      - Customers
      - Customer Groups
      - Blocked Times
      - Notifications
      - Notification Metadata
      - Push Notifications
      - Custom Properties
      - Apps
      - Messaging
      - Reminders
      - Waitlists
      - Memos
      - Categories
      - Goals
      - Permission Groups
  - name: Webhooks
    tags:
      - Webhooks
      - Webhook Invocations
  - name: Subscriptions
    tags:
      - Subscriptions
  - name: Credit Wallets
    tags:
      - Credit Wallets
  - name: Point of sale
    tags:
      - Products
      - Product Groups
      - Sales
      - Transactions
      - Line Items
      - Subtransactions
      - Issuers
      - Payment Methods
      - Terminals
      - Claims
  - name: Users
    tags:
      - User
      - Tokens
      - User Terminals
      - Google Calendar
  - name: Metrics
    tags:
      - Metrics
  - name: Activities
    tags:
      - Activities
  - name: OAuth
    tags:
      - OAuth
      - Applications
  - name: Integrations
    tags:
      - Saltpay
      - Fiscalization
      - Adyen
      - Mozrest

tags:
  - name: Hidden
    description: Hidden endpoints. Still invokable, but not documented. Very useful for backwards compatibility but keeping our docs clean.
  - name: User
    description: User management.
  - name: Tokens
    description: API Tokens can be used to authenticate requests to the API.
  - name: Products
    description: Products describe goods you offer to your customers.
  - name: Product Groups
    description: |
      Product Groups are used to group products into categories. A shampoo might, for example, belong to a product group titled "Hair Products".

      Products can reside in multiple product groups simultaneously.
  - name: Marketplace Companies
    x-displayName: Companies
    description: |
      Companies are individual service providers such as **Hair salons**, **Chiropractors** and **Veterinarians**.
  - name: Event Types
    description: |
      Event Types describe the different services a company offers.
  - name: Event Type Groups
    description: |
      Event Type Groups are used to group event types into categories. A haircut might, for example, belong to an event type group titled "Haircuts".

      Event types can reside in multiple event type groups simultaneously.
  - name: Events
    description: |
      Events are the center point of our whole system.

      A haircut that an HQ user performs on some marketplace user at a specified time is an event.
  - name: Blocked times
    description: Blocked times are a multi-purpose feature to block certain times from being bookable in the calendar.
  - name: Enterprises
    description: An enterprise is an umbrella entity which purpose is maintaining a relation between multiple companies.
  - name: Sales
    description: |
      Sales are used to group related transactions, for example product and service sales with different invoice issuers for the same customer or original invoice and a refund.

      Customer info for transactions is stored on the sale as well as reference to events that were paid in this sale.
  - name: Transactions
    description: Transactions are made up of service and products that can be paid in subtransactions
  - name: Subtransactions
    description: |
      Subtransactions make up the individual payment methods used in a single transaction.

      A transaction of $20 might be split into subtransactions of $5 in cash and $15 by card.
  - name: Payment Methods
    description: |
      The various payment methods available in the Noona ecosystem.
  - name: Terminals
    description: |
      Terminals are used to charge credit cards for services.
  - name: User Terminals
    x-displayName: Terminals
    description: |
      Terminals are used to charge credit cards for services.
  - name: Customers
    description: |
      Customers are individuals that have booked an event with a company.
  - name: Customer Groups
    description: |
      Customer Groups are used to group customers into categories. A customer might, for example, belong to a customer group titled "Regulars".
  - name: Voucher Templates
    description: |
      Voucher templates are predefined templates that enable a fast creation of vouchers.
  - name: Vouchers
    x-displayName: Vouchers
    description: |
      Vouchers are purchased through the marketplace and can be used to pay for a service at an enterprise.
  - name: Settlement Accounts
    description: |
      Settlement accounts are used by an enterprise to take payments.
  - name: Payments
    description: |
      Payments are created by the marketplace when a customer pays for an event, voucher or product.

      Payments are bulked and sent to an enterprise as a settlement.
  - name: Settlements
    description: |
      Settlements are the sum of multiple payments that the company has received via different sales channels.

      Settlements are transferred to the enterprise's settlement account on a weekly basis.
  - name: Custom Properties
    description: Custom properties enable the possibility of extending resources with custom data.
  - name: Webhooks
    description: |
      Webhooks are used to receive notifications about events that occur in the Noona ecosystem.

      Multiple events can be tied to a single callback URL.

      A callback payload for **creation** and **update** reflects the current state of the resource.

      A callback payload for **deletion** reflects the state of the resource before deletion.
  - name: Subscriptions
    description: Subscriptions are the container for plans which can include several powerups. They are used to charge and manage the features used by companies.
  - name: Webhook Invocations
    description: |
      Webhook Invocations are the actual HTTP requests that are sent to a webhook's callback URL.

      Webhook invocations are logged and can be inspected via the API.
  - name: Push Notifications
    description: |
      Push Notifications are used to send notifications to the Noona mobile app, such as new events, cancelled events and more..
  - name: Notifications
    description: |
      Notifications inform users about various things such as new events, cancelled events and more.
  - name: Saltpay
    description: |
      The Saltpay integration enables connecting and sending payments to a Saltpay terminal.
  - name: Verifone
    description: |
      The Verifone integration enables connecting and sending payments to a Verifone terminal.
  - name: Straumur
    description: |
      The Straumur integration enables connecting and sending payments to a Straumur terminal.
  - name: Adyen
    description: |
      The Adyen integration enables activating various payment services.
  - name: Fiscalization
    description: |
      Fiscalization is the process of sending data to an external system for the purpose of tax reporting.
  - name: Goals
    description: |
      Goals are structured objectives that help companies complete important setup and operational tasks.

      Each goal consists of multiple tasks that can be completed in sequence or independently based on prerequisites.
  - name: Reminders
    description: |
      Reminders are configured for automated reminders to be sent to customers before events (appointments).

      Reminders can be configured to send via SMS, with customizable timing (e.g., 24 hours before the event) and content.

      Reminders can be scoped to specific employees or event types, or applied company-wide. SMS content can be translated into multiple languages.
  - name: Time Slots
    description: |
      Time Slots are points in time when a company can provide a specified service.
  - name: Activities
    description: |
      Activities are used to track changes to resources in the Noona ecosystem.
  - name: Resources
    description: |
      Resources that might be required for a service. For example, a massage parlor might have a resource called "Massage Room 1".

      An Event Type might then require a resource and an employee to be available in order to be bookable at a certain time.
  - name: Resource Groups
    description: |
      Resource Groups are used to group resources together.
  - name: Scheduled Events
    description: |
      Scheduled Events represent explicit, time-bound occurrences such as concerts, classes, workshops, group fitness sessions, or any event that happens at a specific time with limited capacity.

      Unlike regular Event Types which define bookable services with flexible scheduling, Scheduled Events have:
      - **Fixed start and end times** - The event occurs at a specific date and time
      - **Capacity limits** - A maximum number of attendees across all tiers
      - **Multiple pricing tiers** - Different ticket types (e.g., "Floor" vs "Balcony", "Adult" vs "Child")

      Each tier in a Scheduled Event automatically creates managed Event Type and Resource entities behind the scenes. These managed entities:
      - Are hidden from regular Event Type and Resource listings
      - Have their lifecycle controlled by the parent Scheduled Event
      - Are automatically deleted when the Scheduled Event is deleted

      **Common use cases:**
      - Concert or show ticketing with different seating sections
      - Group fitness classes with limited spots
      - Workshops or seminars with tiered pricing
      - Tours or experiences with capacity constraints
  - name: Employees
    description: |
      Employees are the individuals that work at a company and provide services to customers.

      An employee is a HQ user in the context of a company. A HQ user can be an employee at multiple companies.

      The employee resource describes that company specific data for the HQ user.
  - name: OAuth
    description: |
      OAuth is used to authenticate users and applications to the Noona API.
  - name: Applications
    description: |
      Applications are created by third party developers to gain scoped access to the Noona API on behalf of users.
  - name: Apps
    description: |
      Apps are 3rd party applications that can be installed by companies to extend the functionality of Noona.
  - name: Event Statuses
    description: |
      Event statuses are used to describe the current state of an event.

      Noona has a set of default statuses:
      - **showedUp**
      - **cancelled**
      - **noshow**
      - **checkedOut**
      - and the implicit *empty* status.

      Custom statuses can be created to extend the default set.
  - name: Event Type Category Groups
    description: |
      Event Type Category Groups are top level grouping of event type categoires. An example of event type category group is *Barbering* and event type categories in that group could be *Men's haircut* and *Beard Trimming*.
  - name: Event Type Categories
    description: |
      Event Type Categories are used to group event types into categories. An example of an event type category is *Men's haircut* which is in the event type category group *Barbering*.
  - name: Work Hours
    description: |
      Work Hours define per-entity (employee or resource) availability schedules.
      Each entry is a rule set with explicit entity ownership fields.
  - name: Rule Sets
    description: |
      Rule sets are used to define the behavior of the system. Multiple rules of the same type can be active at the same time within a single rule set, but but can not overlap.

      Multiple rule sets can be active at the same time, in that case the rules take priority according to the overlapping rules chapter below.

      **List of rules**

      - `availability`

        Specifies when company is open or closed for business. By default a business is closed. Can be tied to specific employees and resources.

      - `online_bookings`

        Specifies when company accepts online bookings. Can be tied to specific entities.

      - `max_total_pax`

        Specifies the maximum number of people that can be booked at the same time.


      **Overlapping rules**

      If 2 or more rule sets are active during the same period, the comparison is done in the following order:

      1. The rule set with fewer instances (according to the RRule, or the lack of one) takes priority.
      2. If the rule sets have the same number of instances, the rule set with the shorter time period takes priority. (The time period is defined by the starts_at and ends_at of the rule set.)
      3. If the rule sets have the same number of instances and the same time period, the rule set that was most recently updated takes priority.

      The `priority` attribute can be used to override the default priority.

      Rules with a priority set will always take precedence over rules without a priority set.

      Lower priority values take precedence over higher priority values.

      **Associated Entities**

      Rules can be divided into two categories:

      1. General rules
      2. Rules tied to certain entities

      Entities:

      - Event Types
      - Resources
      - Employees

      When a rule is tied to entities, it will only affect the entities it is tied to.
      This is achieved through the following attributes, using resources as an example:

      - `resources` - A list of resource IDs.
      - `association` - The association type. Can be either `include` or `exclude`.

      **Examples**

      ---
      ```json
      {
        resources: ["id-1", "id-2"],
        association: "includes",
      }
      ```
      This rule is only applicable to resources with the IDs `id-1` and `id-2`.

      ---

      ```json
      {
        resources: ["id-1", "id-2"],
        association: "excludes",
      }
      ```

      This rule is applicable to all resources except those with the IDs `id-1` and `id-2`.

      ---

      ```json
      {
        resources: [],
        association: "excludes",
      }
      ```

      This rule is applicable to all resources.

      ---

      **Interval**

      The interval of a rule set is defined by the `starts_at` and `ends_at` attributes.

      By default, rules in a set are active in that interval but each rule can overwrite the starts_at and ends_at attributes to define a custom interval.

      A rule can however not extend beyond the interval of the rule set.
  - name: Rule Set Templates
    description: |
      Rule Set Templates offer a quick way to create rule sets with predefined rules.
  - name: Mozrest
    description: |
      The Mozrest integration allows companies to appear on various external booking platforms.
  - name: Categories
    description: |
      Categories are used to group and categorize companies.
  - name: Agent
    description: |
      Endpoints designed specifically for AI agents authenticated via agent tokens.

      These endpoints are never reachable by OAuth applications. They expose
      slim, agent-friendly views over Noona resources (e.g. searchable company
      lists) intended for programmatic use by agent runtimes.

paths:
  /v1/hq/enterprises:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: List enterprises
      description: Lists all enterprises the user has access to.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprises"
          description: Enterprises
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      operationId: ListEnterprises
      tags:
        - Enterprise

  /v1/hq/enterprise/{enterprise_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
      security:
        - BearerTokenAuth: []
      summary: Retrieve enterprise
      description: Retrieve enterprise by ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: Enterprise
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetEnterprise
      tags:
        - Enterprise
    post:
      security:
        - BearerTokenAuth: []
      summary: Update enterprise
      description: Updates enterprise by ID.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: unset
          schema:
            $ref: "#/components/schemas/EnterpriseFields"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Enterprise"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: Updated enterprise
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdateEnterprise
      tags:
        - Enterprise

  /v1/hq/enterprise/{enterprise_id}/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: List enterprise companies
      description: Lists all companies for an enterprise
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesResponse"
          description: Enterprise companies
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
      operationId: ListEnterpriseCompanies
      tags:
        - Enterprise

  /v1/hq/enterprise/{enterprise_id}/settlement_accounts:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: List settlement accounts
      description: Lists the settlement accounts of an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementAccounts"
          description: Settlement accounts
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListEnterpriseSettlementAccounts
      tags:
        - Settlement Accounts

  /v1/hq/enterprise/{enterprise_id}/settlement_accounts/{settlement_account_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: Get settlement account
      description: Retrieves settlement account of an enterprise with ID.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - name: settlement_account_id
          description: Settlement Account ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementAccount"
          description: Settlement account
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetEnterpriseSettlementAccount
      tags:
        - Settlement Accounts
    delete:
      security:
        - BearerTokenAuth: []
      summary: Delete settlement account
      description: Deletes a settlement account for an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - name: settlement_account_id
          description: Settlement Account ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Settlement account deleted
      operationId: DeleteEnterpriseSettlementAccount
      tags:
        - Settlement Accounts

  /v1/hq/enterprise/{enterprise_id}/voucher_templates:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:read
      summary: List voucher templates
      description: Lists the voucher templates of an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateFilter"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplatesResponse"
          description: VoucherTemplates
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListVoucherTemplatesLegacy
      tags:
        - Hidden
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:write
      summary: Create voucher template
      description: Creates a voucher template at enterprise tied to company.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherTemplateCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateResponse"
          description: Created Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: CreateVoucherTemplateLegacy
      tags:
        - Hidden

  /v1/hq/companies/{company_id}/voucher_templates:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:read
      summary: List voucher templates
      description: Lists the voucher templates for a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateFilter"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplatesResponse"
          description: VoucherTemplates
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListVoucherTemplates
      tags:
        - Voucher Templates

  /v1/hq/legacy_reports:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - reports:write
      tags:
        - Reports
      summary: Create a new report
      operationId: createReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LegacyReport"
      responses:
        "200":
          description: Report created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyReportResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  /v1/hq/voucher_templates:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:write
      summary: Create voucher template
      description: Creates a voucher template for company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherTemplateCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateResponse"
          description: Created Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: CreateVoucherTemplate
      tags:
        - Voucher Templates

  /v1/hq/voucher_templates/{voucher_template_id}:
    parameters:
      - $ref: "#/components/parameters/select"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:read
      summary: Get voucher template
      description: Gets a single voucher template.
      parameters:
        - name: voucher_template_id
          description: Voucher Template ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateResponse"
          description: Voucher Template
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetVoucherTemplate
      tags:
        - Voucher Templates
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:write
      summary: Update voucher template
      description: Updates a voucher template at enterprise.
      parameters:
        - name: voucher_template_id
          description: Voucher Template ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: unset
          schema:
            $ref: "#/components/schemas/VoucherTemplateFields"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherTemplateUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateResponse"
          description: Updated Voucher Template
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: UpdateVoucherTemplate
      tags:
        - Voucher Templates
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:write
      summary: Delete voucher template
      description: |
        Deletes a voucher template at enterprise.

        It is only possible to delete voucher templates that have not been used to create vouchers.
      parameters:
        - name: voucher_template_id
          description: Voucher Template ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Voucher template deleted
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: DeleteVoucherTemplate
      tags:
        - Voucher Templates

  /v1/hq/companies/{company_id}/pdf/voucher_templates:
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:read
      summary: Get voucher template preview
      description: Retrieves a preview of a voucher template.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/pdf:
              schema:
                type: string
                format: binary
          description: Voucher template PDF
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: PreviewVoucherTemplate
      tags:
        - Voucher Templates

  /v1/hq/companies/{company_id}/user_invites:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: List user invites
      description: Lists all user invites for a company. Only company owners can access this endpoint.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInvites"
          description: User invites
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListUserInvites
      tags:
        - User Invites

  /v1/hq/user_invites:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
      summary: Create user invite
      description: Creates a new user invite for the company. Only company owners can create user invites. The link expires after 7 days and is single-use.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserInviteRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInvite"
          description: Created user invite
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: CreateUserInvite
      tags:
        - User Invites

  /v1/hq/user_invites/{user_invite_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    delete:
      security:
        - BearerTokenAuth: []
      summary: Delete user invite
      description: Deletes (invalidates) a user invite. Only company owners can delete user invites.
      parameters:
        - name: user_invite_id
          description: User invite ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User invite deleted successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: DeleteUserInvite
      tags:
        - User Invites

  /v1/hq/user_invites/{token}:
    get:
      summary: Get user invite context
      description: |
        Gets the context of an user invite token and returns company information if valid. 
        This endpoint is public and doesn't require authentication.
      parameters:
        - name: token
          description: User invite token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInviteContextResponse"
          description: User invite validated successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInviteError"
          description: User invite is expired, used, or deleted
      operationId: GetUserInviteContext
      tags:
        - User Invites
    post:
      security:
        - BearerTokenAuth: []
      summary: Consume user invite
      description: |
        Consumes a user invite token after validation. 
        This endpoint requires authentication and will mark the user invite as used.
      parameters:
        - name: token
          description: User invite token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsumeUserInviteRequest"
      responses:
        "200":
          description: User invite consumed successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInviteError"
          description: User invite is expired, used, or deleted
      operationId: ConsumeUserInvite
      tags:
        - User Invites

  /v1/hq/enterprise/{enterprise_id}/vouchers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:read
      summary: List vouchers
      description: Lists the vouchers of an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherFilter"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vouchers"
          description: Vouchers
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListVouchersLegacy
      tags:
        - Hidden

  /v1/hq/companies/{company_id}/vouchers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:read
      summary: List vouchers
      description: Lists the vouchers for a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherFilter"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vouchers"
          description: Vouchers
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListVouchers
      tags:
        - Vouchers

  /v1/hq/enterprise/{enterprise_id}/vouchers/{voucher_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:read
      summary: Get voucher
      description: Retrieves voucher with ID from enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetVoucherLegacy
      tags:
        - Hidden
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:write
      summary: Update voucher
      description: Updates a voucher with ID at enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Voucher"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Updated Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: UpdateVoucherLegacy
      tags:
        - Hidden

  /v1/hq/vouchers/{voucher_id}:
    parameters:
      - $ref: "#/components/parameters/select"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:read
      summary: Get voucher
      description: Retrieves voucher with ID from enterprise.
      parameters:
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetVoucher
      tags:
        - Vouchers
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:write
      summary: Update voucher
      description: Updates a voucher with ID at enterprise.
      parameters:
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: unset
          schema:
            $ref: "#/components/schemas/VoucherFields"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Voucher"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Updated Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: UpdateVoucher
      tags:
        - Vouchers
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:write
      summary: Delete voucher
      description: Deletes a voucher with ID
      parameters:
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Voucher deleted
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: DeleteVoucher
      tags:
        - Vouchers

  /v1/hq/vouchers/{voucher_id}/notification:
    parameters:
      - $ref: "#/components/parameters/select"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:write
      summary: Send a voucher notification
      description: |
        Sends a voucher notification to the specified recipient.
      parameters:
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherNotification"
      responses:
        "200":
          description: Voucher
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: CreateVoucherNotification
      tags:
        - Vouchers

  /v1/hq/enterprise/{enterprise_id}/settlements:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - settlements:read
      summary: List settlements
      description: Lists the settlements of an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementFilter"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settlements"
          description: Settlements
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListSettlementsLegacy
      tags:
        - Hidden

  /v1/hq/companies/{company_id}/settlements:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - settlements:read
      summary: List settlements
      description: Lists the settlements for a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementFilter"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settlements"
          description: Settlements
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListSettlements
      tags:
        - Settlements

  /v1/hq/enterprise/{enterprise_id}/payments:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:read
      summary: List payments
      description: Lists the payments of an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentFilter"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payments"
          description: Payments
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListPaymentsLegacy
      tags:
        - Hidden

  /v1/hq/payments:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:write
      summary: Create a payment
      description: |
        Creates a new payment for a company.

        The only payment creation supported through the HQ API is a no-show payment where the following payload is required:

        `event` - An ID reference to the event for which the payment is being created.

        `reason` - A string describing the reason for the payment, in this case **noshow**.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentCreate"
      responses:
        "200":
          description: Payment created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePaymentError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: CreatePayment
      tags:
        - Payments

  /v1/hq/roles/{role_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      operationId: GetRole
      tags:
        - Roles
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - roles:read
      parameters:
        - name: role_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the role to get
      responses:
        "200":
          description: Role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
    delete:
      operationId: DeleteRole
      tags:
        - Roles
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - roles:write
      parameters:
        - name: role_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the role to delete
      responses:
        "200":
          description: Role deleted successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
    post:
      operationId: UpdateRole
      tags:
        - Roles
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - roles:write
      parameters:
        - name: role_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the role to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleInput"
      responses:
        "200":
          description: Role updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/hq/roles:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      operationId: CreateRole
      tags:
        - Roles
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - roles:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleInput"
      responses:
        "200":
          description: Role created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /v1/hq/companies/{company_id}/roles:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      operationId: ListRoles
      tags:
        - Roles
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - roles:read
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the company to list roles for
      responses:
        "200":
          description: List of roles
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Roles"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/hq/companies/{company_id}/permission_groups:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Retrieve a list of permission groups
      operationId: ListPermissionGroups
      tags:
        - Permission Groups
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the company to list permission groups for
      responses:
        "200":
          description: A list of permission groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PermissionGroup"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/hq/companies/{company_id}/notifications_settings:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Retrieve notification settings configuration
      description: |
        Returns the structure of available notification categories, subcategories, and channels.
        This configuration is used to dynamically render notification settings UI.
      operationId: ListNotificationSettings
      tags:
        - Notification Settings
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the company to list notification settings for
      responses:
        "200":
          description: A list of notification categories with their subcategories and channels
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NotificationCategoryConfig"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/hq/companies/{company_id}/payment_method_instances/seed:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      summary: Seed payment method instances for company
      description: |
        Creates default payment method instances for the company if none exist.
        If instances already exist, does nothing.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: dwa8wd8aw8d
          description: The company ID to seed payment method instances for.
      responses:
        "200":
          description: List of payment method instances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PaymentMethodInstance"
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: SeedCompanyPaymentMethodInstances
      tags:
        - Hidden

  /v1/hq/companies/{company_id}/seed_initial_data:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      summary: Seed initial data for company
      description: |
        Creates default data for the company if none exist.
        If data already exists, does nothing.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: dwa8wd8aw8d
          description: The company ID to seed payment method instances for.
      responses:
        "200":
          description: Success
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      operationId: SeedCompanyInitialData
      tags:
        - Hidden

  /v1/hq/companies/{company_id}/payments:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:read
      summary: List payments
      description: Lists the payments for a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentFilter"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payments"
          description: Payments
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListPayments
      tags:
        - Payments

  /v1/hq/payments/{payment_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:read
      summary: Get payment
      description: Get a payment.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
          description: Payments
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetPayment
      tags:
        - Payments
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:write
      summary: Update payment
      description: Update a payment.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Payment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
          description: Payments
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdatePayment
      tags:
        - Payments

  /v1/hq/payments/{payment_id}/receipt:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:write
      summary: Send payment receipt
      description: Sends a payment receipt to the specified email address.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentReceiptRecipient"
      responses:
        "200":
          description: Success
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: SendPaymentReceipt
      tags:
        - Payments
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:read
      summary: Download payment receipt
      description: Downloads a payment receipt.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/pdf:
              schema:
                type: string
                format: binary
          description: Payment Receipt PDF
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: DownloadPaymentReceipt
      tags:
        - Payments

  /v1/hq/companies/{company_id}/customer_groups:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customer_groups:read
      summary: List all customer groups
      description: Lists all customer groups of a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerGroups"
          description: CustomerGroups
      operationId: ListCustomerGroups
      tags:
        - Customer Groups

  /v1/hq/customer_groups/{customer_group_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: customer_group_id
        in: path
        required: true
        schema:
          type: string
          example: "dwawd8awudawd"
          description: Customer ID
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customer_groups:read
      summary: Retrieve a customer group
      description: Retrieves information about an existing customer group.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerGroup"
          description: CustomerGroup
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetCustomerGroup
      tags:
        - Customer Groups
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customer_groups:write
      summary: Update a customer group
      description: Updates a customer group at a company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerGroup"
          description: Updated Customer Group
      operationId: UpdateCustomerGroup
      tags:
        - Customer Groups
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customer_groups:write
      summary: Delete customer group
      description: Deletes a customer group at company.
      responses:
        "200":
          description: Customer Group deleted
      operationId: DeleteCustomerGroup
      tags:
        - Customer Groups

  /v1/hq/customer_groups:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customer_groups:write
      summary: Create a customer group
      description: |
        Creates a new customer group at company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerGroup"
          description: Customer Group
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: CreateCustomerGroup
      tags:
        - Customer Groups

  /v1/hq/companies/{company_id}/customers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:read
      summary: List all customers
      description: Lists all customers of a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerFilter"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customers"
          description: Customers
      operationId: ListCustomers
      tags:
        - Customers

  /v1/hq/customers/{customer_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:read
      summary: Retrieve a customer
      description: Retrieves information about an existing customer.
      parameters:
        - name: customer_id
          description: Customer ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: Customer
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetCustomer
      tags:
        - Customers
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:write
      summary: Update a customer
      description: Updates a customer at a company.
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
            description: Customer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: Updated Customer
      operationId: UpdateCustomer
      tags:
        - Customers
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:write
      summary: Delete customer
      description: Deletes a customer at company.
      parameters:
        - name: customer_id
          description: Customer ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: behavior
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerDeletionBehavior"
      responses:
        "200":
          description: Customer deleted
      operationId: DeleteCustomer
      tags:
        - Customers

  /v1/hq/customers/{customer_id}/send:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:read
      summary: Send customer data
      description: Emails the customer overview of the data stored about them in the system.
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
            description: Customer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendCustomerDataRequest"
      responses:
        "200":
          description: Successfully sent customer data
      operationId: SendCustomerData
      tags:
        - Customers

  /v1/hq/customers/{customer_id}/files/{file_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:read
            - files:read
      summary: Get customer file
      description: Get customer file with signed URL
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - name: file_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileWithSignedURL"
          description: File
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      operationId: GetCustomerFile
      tags:
        - Customers
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:write
            - files:write
      summary: Delete customer file
      description: Delete a file attached to a customer
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - name: file_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: File deleted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      operationId: DeleteCustomerFile
      tags:
        - Customers

  /v1/hq/customers/{customer_id}/merge:
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:write
      summary: Merge customers
      description: Merges multiple customers into a target customer. This operation cannot be undone.
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the target customer to merge others into
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MergeCustomersRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: Successfully merged customers
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: MergeCustomers
      tags:
        - Customers

  /v1/hq/customers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:write
      summary: Create a customer
      description: |
        Creates a new customer at company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - company_id
              allOf:
                - $ref: "#/components/schemas/Customer"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: Customer
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: CreateCustomer
      tags:
        - Customers

  /v1/hq/companies/{company_id}/terminals:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:read
      summary: List all terminals
      description: |
        Lists all terminals connected to a company.

        The list includes terminals connected to the company directly and terminals connected to the company through a user.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminalsFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Terminals"
          description: Terminals
      operationId: ListTerminals
      tags:
        - Terminals

  /v1/hq/terminals/{terminal_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:read
      summary: Get terminal
      description: Retrieves terminal with ID.
      parameters:
        - name: terminal_id
          description: Terminal ID
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Terminal"
          description: Terminal
      operationId: GetTerminal
      tags:
        - Terminals
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:write
      summary: Update a terminal
      description: Updates a terminal connected to a company.
      parameters:
        - name: terminal_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Terminal"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Terminal"
          description: Updated terminal
      operationId: UpdateTerminal
      tags:
        - Terminals
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:write
      summary: Delete a terminal
      description: Deletes a terminal connected to a company.
      parameters:
        - name: terminal_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: Terminal deleted
      operationId: DeleteTerminal
      tags:
        - Terminals

  /v1/hq/user/terminals:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:read
      summary: List all user terminals
      description: Lists all terminals connected to user.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Terminals"
          description: Terminals
      operationId: ListUserTerminals
      tags:
        - User Terminals

  /v1/hq/user/terminals/{terminal_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:read
      summary: Get user terminal
      description: Retrieves user terminal with ID.
      parameters:
        - name: terminal_id
          description: Terminal ID
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Terminal"
          description: Terminal
      operationId: GetUserTerminal
      tags:
        - User Terminals
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:write
      summary: Delete a user terminal
      description: Deletes a terminal connected to user.
      parameters:
        - name: terminal_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: Terminal deleted
      operationId: DeleteUserTerminal
      tags:
        - User Terminals

  /v1/hq/user/settlement_accounts:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: List settlement accounts
      description: Lists the settlement accounts of a user.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementAccounts"
          description: Settlement accounts
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListUserSettlementAccounts
      tags:
        - Settlement Accounts

  /v1/hq/notifications:
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:write
      summary: Create a notification
      description: |
        Creates a notification at company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationCreate"
      responses:
        "200":
          description: Notification Created
      operationId: CreateNotification
      tags:
        - Notifications

  /v1/hq/companies/{company_id}/notifications:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:read
      summary: List all notifications
      description: Lists all notifications at a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notifications"
          description: Notifications
      operationId: ListNotifications
      tags:
        - Notifications
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:write
      summary: Delete all notifications
      description: Deletes all notifications that user has access to at a company, including user specific notifications.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletionResult"
          description: Notifications were deleted
      operationId: DeleteNotifications
      tags:
        - Notifications

  /v1/hq/companies/{company_id}/push_notifications:
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - push_notifications:read
      summary: List all notifications
      description: Lists all notifications at a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PushNotificationFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PushNotifications"
          description: PushNotifications
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListPushNotifications
      tags:
        - Push Notifications

  /v1/hq/stream/companies/{company_id}/notifications:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:read
      summary: Stream notifications
      description: Streams all notifications at a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: Notifications stream
      operationId: StreamNotifications
      tags:
        - Notifications

  /v1/hq/notifications/{notification_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:read
      summary: Retrieve a notification
      description: Retrieves a notification at a users company.
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
          description: Notification
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetNotification
      tags:
        - Notifications
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:write
      summary: Delete a notification
      description: Deletes a notification at a users company.
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: Notification was deleted
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: DeleteNotification
      tags:
        - Notifications

  /v1/hq/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - companies:read
      summary: List all companies
      description: Lists all companies user has access to.
      parameters:
        - in: query
          name: sort
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesResponse"
          description: Companies
      operationId: GetCompanies
      tags:
        - Companies
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - companies:write
      summary: Create a new company
      description: |
        Creates a new company from basic information.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyResponse"
          description: Company created successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: CreateCompany
      tags:
        - Companies

  /v1/hq/companies/{company_id}/clone:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      security:
        - BearerTokenAuth: []
      summary: Clone a company
      description: |
        Creates a new company within the reference company's enterprise.

        The reference company is identified via the path parameter.

        The new company will automatically inherit all required properties not explicitly defined in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyResponse"
          description: Company
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: CloneCompany
      tags:
        - Companies

  /v1/hq/companies/{company_id}/move-to-enterprise:
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - companies:write
      summary: Move company to another enterprise
      description: |
        Moves a company from its current enterprise to a different enterprise.

        If the source enterprise has no remaining non-deleted outlets after the move, it is soft-deleted.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveToEnterpriseRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: Target enterprise
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      operationId: MoveCompanyToEnterprise
      tags:
        - Enterprise

  /v1/hq/companies/{company_id}/detach-from-enterprise:
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - companies:write
      summary: Detach company from enterprise
      description: |
        Detaches a company from its current enterprise, creating a new enterprise for the company.

        The new enterprise is named after the company's store name. If the store name is not set, the source enterprise's name is used as a fallback.

        If the source enterprise has no remaining non-deleted outlets after the detach, it is soft-deleted.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: Newly created enterprise
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      operationId: DetachCompanyFromEnterprise
      tags:
        - Enterprise

  /v1/hq/companies/{company_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
      summary: Update a company
      description: Updates a company by ID.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: unset
          schema:
            $ref: "#/components/schemas/CompanyFields"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyResponse"
          description: Company
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdateCompany
      tags:
        - Companies
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - companies:read
      summary: Get company
      description: Retrieves company with ID.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyResponse"
          description: Company
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetCompany
      tags:
        - Companies

  /v1/hq/companies/{company_id}/migrate-reminders:
    post:
      security:
        - BearerTokenAuth: []
      summary: Migrate company to new SMS reminders
      description: |
        Migrates a company from legacy reminder settings to the new reminder system.
        Creates reminders based on:
        - Company-level custom reminder settings
        - Employee-level custom SMS text settings

        This endpoint also enables the new SMS reminders feature for the company.
        This endpoint is temporary and will be removed once all companies are migrated.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
          description: Company ID
      responses:
        "200":
          description: Migration completed successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: MigrateCompanyReminders
      tags:
        - Hidden

  /v1/hq/companies/{company_id}/migrate-staff-work-hours:
    post:
      security:
        - BearerTokenAuth: []
      summary: Migrate company to staff work hours
      description: |
        Migrates a company to staff-level work hours by creating individual
        availability rule sets for each employee and resource.
        Idempotent - safe to call multiple times.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
          description: Company ID
      responses:
        "200":
          description: Migration completed successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      operationId: MigrateStaffWorkHours
      tags:
        - Hidden

  /v1/hq/admin/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: Admin - List all companies
      description: |
[...]
