openapi: 3.0.2
x-json-schema-faker:
  maxItems: 2
info:
  description: |
    # Overview

    Noona provides a powerful REST(y) API that focuses on simplicity and clarity.

    - All API requests must be made over HTTPS. Calls made over plain HTTP will be redirected to HTTPS.

    **Base Path**
    ```
    https://api.noona.is
    ```

    The Marketplace API allows various 'customer' interactions with the companies in the Noona ecosystem.

    Example user: **An individual seeking a haircut**.

  title: Noona Marketplace API
  version: dev
  x-logo:
    url: https://api.noona.is/docs/img/logo_black.svg

servers:
  - url: https://api.noona.is

x-tagGroups:
  - name: User
    tags:
      - Marketplace User
      - Customers
      - Cards
      - Payments
      - Vouchers
      - Suggestions
      - Recommendations
  - name: Service Providers
    tags:
      - Marketplace Enterprises
      - Marketplace Companies
      - Categories
      - Employees
      - Spaces
      - Event Types
      - Event Type Categories
      - Marketplace Events
      - Time Slots
      - Voucher Templates
      - Waitlists
      - Booking Offers
      - Items

tags:
  - name: Categories
    description: |
      Categories are used to group and categorize companies.
  - name: Marketplace Companies
    x-displayName: Companies
    description: |
      Companies are individual service providers such as **Hair salons**, **Chiropractors** and **Veterinarians**.
  - name: Employees
    description: |
      Employees are individuals that perform services at a given company.
  - name: Spaces
    description: |
      Spaces are areas where services are performed at a given company.
  - name: Marketplace User
    x-displayName: User
    description: Everything about the logged in marketplace user.
  - name: Events
    description: |
      Events are the center point of our whole system.

      A haircut that an HQ user performs on some marketplace user at a specified time is an event.
  - name: Marketplace Events
    x-displayName: Events
    description: |
      Events are the center point of our whole system.

      A haircut that an HQ user performs on some marketplace user at a specified time is an event.
  - name: Event Types
    description: |
      Event Types describe the different services a company offers.
  - name: Event Type Categories
    description: |
      Event Type Categories are used to group and categorize event types.

      This is useful since a company might call a haircut a **Haircut** and another company might call it a **Hair styling**.
  - name: Marketplace Enterprises
    x-displayName: Enterprises
    description: An enterprise is an umbrella entity which purpose is maintaining a relation between multiple companies.
  - name: Time Slots
    description: |
      Time Slots are points in time when a company can provide a specified service.
  - name: Vouchers
    description: |
      Vouchers are purchased through the marketplace and can be used to pay for a service at an enterprise.
  - name: Cards
    description: |
      Cards are debit/credit cards that a marketplace user has saved for future use.
  - name: Suggestions
    description: |
      Suggestions are user specific suggestions - based on trivial things like booking history etc.
  - name: Recommendations
    description: |
      Recommendations are user specific recommendations - based on machine learning algorithms and models.
  - name: Payments
    description: |
      Payments are the result of a marketplace user paying for a service.
  - name: Customers
    description: |
      A customer is the HQ view of a marketplace user.
  - name: Voucher Templates
    description: |
      Voucher templates are predefined templates that enable a fast creation of vouchers.
  - name: Waitlists
    description: |
      Waitlist are a way to manage a queue of users waiting for a service.
  - name: Booking Offers
    description: |
      Booking offers are suggestions made to a marketplace user for a specific service at a specific time.
  - name: Items
    description: |
      Items are marketplace listings such as scheduled events.

paths:
  /v1/marketplace/companies/{id}/time_slots:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: List time slots
      description: |
        Gets all available tima slots for company based on filter.

        Either **event_type_ids** or **event_id** must be provided.

        Capacity is the number of customers in booking.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "aw7da9wd8ua28a821"
            description: "Company ID"
        - name: employee_id
          in: query
          required: false
          schema:
            type: string
            example: "8a1da9wd8ua28aa9d"
        - name: space_id
          in: query
          required: false
          schema:
            type: string
            example: "ea7da9wd8ua28a134"
        - name: event_type_ids
          in: query
          required: false
          schema:
            type: array
            example: ["te7da9wd8ua28a1ab", "xa7da9wd8ua01a134"]
            items:
              type: string
        - name: event_id
          in: query
          required: false
          schema:
            type: string
            example: "xa7da9wd8ua01a134"
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            example: "2021-01-01"
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            example: "2021-01-31"
        - name: capacity
          in: query
          required: false
          schema:
            type: integer
            format: int32
            example: 5
            default: 1
        - $ref: "#/components/parameters/time_slot_type"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeSlots"
          description: Time slots
      operationId: ListTimeSlots
      tags:
        - Time Slots

  /v1/marketplace/companies/{id}/multiple_time_slots:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: List multiple time slots
      description: |
        Gets all available tima slots for company based on filter for multiple event types.

        This endpoint allows for fetching time slots for multiple event types at once.
        Opposed to **/time_slots** which only allows for fetching time slots for a single event type.

        If **event_id** is provided, **event_type_ids** will be ignored and the event type of the event will be used.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "aw7da9wd8ua28a821"
            description: "Company ID"
        - name: employee_id
          in: query
          required: false
          schema:
            type: string
            example: "8a1da9wd8ua28aa9d"
        - name: space_id
          in: query
          required: false
          schema:
            type: string
            example: "ea7da9wd8ua28a134"
        - name: event_type_ids
          in: query
          required: false
          schema:
            type: array
            example: ["te7da9wd8ua28a1ab", "xa7da9wd8ua01a134"]
            items:
              type: string
        - name: event_id
          in: query
          required: false
          schema:
            type: string
            example: "xa7da9wd8ua01a134"
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            example: "2021-01-01"
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            example: "2021-01-31"
        - name: capacity
          in: query
          required: false
          schema:
            type: integer
            format: int32
            example: 5
            default: 1
        - name: min_capacity
          in: query
          required: false
          description: Minimum party size for capacity range query. Must be used together with max_capacity.
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 2
        - name: max_capacity
          in: query
          required: false
          description: Maximum party size for capacity range query. Must be used together with min_capacity.
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 5
        - $ref: "#/components/parameters/time_slot_type"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventTypesWithTimeSlots"
          description: Time slots
      operationId: ListMultipleTimeSlots
      tags:
        - Time Slots

  /v1/marketplace/company_types:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: List all company types
      description: |
        List all company types and metadata about company types.

        Providing a **latitude** and **longitude** causes results to be specific to the relevant country.
      parameters:
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
        - name: lat
          in: query
          required: false
          schema:
            type: number
            format: double
          description: Longitude
        - name: lng
          in: query
          required: false
          schema:
            type: number
            format: double
          description: Latitude
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyTypes"
          description: Company types and metadata
      operationId: ListCompanyTypes
      tags:
        - Categories

  /v1/marketplace/company_types/{company_type_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Retrieve a company type
      description: |
        Retrieves a company type by ID.
      parameters:
        - name: company_type_id
          in: path
          required: true
          schema:
            type: string
            example: "aw7da9wd8ua28a821"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyType"
          description: Company type and metadata
      operationId: GetCompanyType
      tags:
        - Categories

  /v1/marketplace/service_types:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: List all service types
      description: |
        List all service types and metadata about service types.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoriesWithMetadata"
          description: Service types and metadata
      operationId: ListServiceTypes
      tags:
        - Categories

  /v1/marketplace/service_types/{service_type_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Retrieve a service type
      description: |
        Retrieves a service type by ID.
      parameters:
        - name: service_type_id
          in: path
          required: true
          schema:
            type: string
            example: "aw7da9wd8ua28a821"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: Service type and metadata
      operationId: GetServiceType
      tags:
        - Categories

  /v1/marketplace/cuisines:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List cuisines
      description: Lists available cuisines.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoriesWithMetadata"
          description: Cuisines and metadata
      operationId: ListCuisines
      tags:
        - Categories

  /v1/marketplace/cuisines/{cuisine_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get cuisine
      description: Gets cuisine from ID.
      parameters:
        - name: cuisine_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: Cuisine
      operationId: GetCuisine
      tags:
        - Categories

  /v1/marketplace/cuisines/readable/{readable_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get cuisine by readable ID
      description: Gets cuisine from readable ID.
      parameters:
        - name: readable_id
          in: path
          required: true
          schema:
            type: string
            example: "asian"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: Cuisine
      operationId: GetCuisineByReadableId
      tags:
        - Categories

  /v1/marketplace/dietaries:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List dietaies
      description: Lists available dietaries.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoriesWithMetadata"
          description: Dietaries and metadata
      operationId: ListDietaries
      tags:
        - Categories

  /v1/marketplace/dietaries/{dietary_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get dietary
      description: Gets dietary from ID.
      parameters:
        - name: dietary_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: Dietary
      operationId: GetDietary
      tags:
        - Categories

  /v1/marketplace/dietaries/readable/{readable_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get dietary by readable ID
      description: Gets dietary from readable ID.
      parameters:
        - name: readable_id
          in: path
          required: true
          schema:
            type: string
            example: "vegan"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: Dietary
      operationId: GetDietaryByReadableId
      tags:
        - Categories

  /v1/marketplace/ambiences:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List ambiences
      description: Lists available ambiences.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoriesWithMetadata"
          description: Ambiences and metadata
      operationId: ListAmbiences
      tags:
        - Categories

  /v1/marketplace/ambiences/{ambience_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get ambience
      description: Gets ambience from ID.
      parameters:
        - name: ambience_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: Ambience
      operationId: GetAmbience
      tags:
        - Categories

  /v1/marketplace/ambiences/readable/{readable_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get ambience by readable ID
      description: Gets ambience from readable ID.
      parameters:
        - name: readable_id
          in: path
          required: true
          schema:
            type: string
            example: "cozy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: Ambience
      operationId: GetAmbienceByReadableId
      tags:
        - Categories

  /v1/marketplace/enterprises:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: List enterprises
      description: |
        Retrieves all enterprises, and their companies, accessible on the Noona marketplace.

        Navigation of the data; filtering, sorting, pagination etc. is based on the company.

        Using this endpoint opposed to **/companies** has the advantage of returning companies grouped within their respective enterprises.
      parameters:
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyFilter"
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          required: false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanySort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
        - $ref: "#/components/parameters/search"
        - name: sort_by
          in: query
          description: Use sort instead.
          deprecated: true
          required: false
          schema:
            type: string
            enum: [popular, distance]
        - name: lat
          in: query
          required: false
          deprecated: true
          description: Use filter instead.
          schema:
            type: number
            format: double
        - name: lng
          in: query
          required: false
          deprecated: true
          description: Use filter instead.
          schema:
            type: number
            format: double
        - name: radius
          in: query
          required: false
          deprecated: true
          description: Use filter instead.
          schema:
            type: integer
            format: int64
            default: 100000
        - name: enterprise_ids
          in: query
          required: false
          description: Use filter instead.
          deprecated: true
          schema:
            type: array
            example: ["te7da9wd8ua28a1ab", "xa7da9wd8ua01a134"]
            items:
              type: string
        - name: company_type_id
          in: query
          description: Use filter instead.
          required: false
          deprecated: true
          schema:
            type: string
        - name: limit_companies
          in: query
          description: Use pagination object instead.
          deprecated: true
          required: false
          schema:
            type: integer
            format: int64
        - name: skip_companies
          in: query
          description: Use pagination object instead.
          deprecated: true
          required: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnterprisesExpanded"
          description: Enterprises
      operationId: ListEnterprises
      tags:
        - Marketplace Enterprises

  /v1/marketplace/enterprises/{url_name}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Retrieve an enterprise
      description: |
        Retrieves an enterprise from its url_name (slug).
      parameters:
        - name: url_name
          in: path
          required: true
          schema:
            type: string
            example: big_barber_shops
          description: The urlname (slug) of the enterprise to retrieve.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnterpriseExpanded"
          description: Enterprise
      operationId: GetEnterpriseByUrlName
      tags:
        - Marketplace Enterprises

  /v1/marketplace/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: List companies
      description: Retrieves all companies accessible on the Noona marketplace.
      parameters:
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyFilter"
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          required: false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanySort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
        - $ref: "#/components/parameters/search"
        - name: sort_by
          in: query
          description: Use sort instead.
          deprecated: true
          required: false
          schema:
            type: string
            enum: [popular, distance]
        - name: lat
          in: query
          required: false
          deprecated: true
          description: Use filter instead.
          schema:
            type: number
            format: double
        - name: lng
          in: query
          required: false
          deprecated: true
          description: Use filter instead.
          schema:
            type: number
            format: double
        - name: radius
          in: query
          required: false
          deprecated: true
          description: Use filter instead.
          schema:
            type: integer
            format: int64
            default: 100000
        - name: company_type_id
          in: query
          description: Use filter instead.
          required: false
          deprecated: true
          schema:
            type: string
        - name: enterprise_id
          in: query
          description: Use filter instead.
          deprecated: true
          required: false
          schema:
            type: string
            example: 7awdXawZoolkjad37a
        - name: limit
          in: query
          description: Use pagination object instead.
          deprecated: true
          required: false
          schema:
            type: integer
            format: int64
        - name: skip
          in: query
          description: Use pagination object instead.
          deprecated: true
          required: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Companies"
          description: Companies
      operationId: ListCompanies
      tags:
        - Marketplace Companies

  /v1/marketplace/companies/{url_name}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Retrieve a company
      description: |
        Retrieves a company type from its url_name (slug).
      parameters:
        - name: url_name
          in: path
          required: true
          schema:
            type: string
            example: john_salon
          description: The urlname (slug) of the company to retrieve.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: Company
      operationId: GetCompanyByUrlName
      tags:
        - Marketplace Companies

  /v1/marketplace/companies/{company_id}/opening_hours:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: List company opening hours
      description: Lists opening hours of a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - name: filter
          in: query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpeningHourFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpeningHoursResponse"
          description: Opening Hours
      operationId: ListCompanyOpeningHours
      tags:
        - Marketplace Companies

  /v1/marketplace/map/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: List companies for map
      description: |
        Retrieves all companies accessible on the Noona marketplace for map view.

        The response is optimized for map view.
      parameters:
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapCompanyFilter"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapCompanies"
          description: Map Companies
      operationId: ListMapCompanies
      tags:
        - Marketplace Companies

  /v1/marketplace/employees:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Search employees
      description: |
        Searches employees across all companies accessible on the Noona marketplace.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - $ref: "#/components/parameters/search"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeesAtCompanies"
          description: Employees
      operationId: SearchEmployees
      tags:
        - Employees

  /v1/marketplace/companies/{company_id}/employees:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: sort
        in: query
        description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Sort"
      - name: pagination
        in: query
        description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pagination"
    get:
      summary: List employees
      description: |
        Lists employees at a given company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "aw7da9wd8ua28a821"
            description: "Company ID"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeFilter"
        - name: event_type_ids
          in: query
          deprecated: true
          description: Use filter object instead.
          schema:
            type: array
            example: ["te7da9wd8ua28a1ab", "xa7da9wd8ua01a134"]
            items:
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employees"
          description: Employees
      operationId: ListEmployees
      tags:
        - Employees

  /v1/marketplace/companies/{company_id}/employees/{employee_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Get employee
      description: |
        Get employee with ID at a given company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "aw7da9wd8ua28a821"
            description: "Company ID"
        - name: employee_id
          in: path
          required: true
          schema:
            type: string
            example: "pe7da9wd8ua28a114"
            description: "Employee ID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employee"
          description: Employee
      operationId: GetEmployee
      tags:
        - Employees

  /v1/marketplace/companies/{company_id}/spaces:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: sort
        in: query
        description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Sort"
      - name: pagination
        in: query
        description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pagination"
    get:
      summary: List spaces
      description: |
        Lists spaces at a given company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "aw7da9wd8ua28a821"
            description: "Company ID"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spaces"
          description: Spaces
      operationId: ListSpaces
      tags:
        - Spaces

  /v1/marketplace/spaces/{space_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Get space
      description: |
        Get space with ID at a given company.
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
            example: "pe7da9wd8ua28a114"
            description: "Employee ID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Space"
          description: Space
      operationId: GetSpace
      tags:
        - Spaces

  /v1/marketplace/events:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List events
      description: |
        Lists events for marketplace user.
      parameters:
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Events"
          description: Events
      operationId: ListEvents
      tags:
        - Marketplace Events
    post:
      security:
        - Marketplace-Authentication: []
      summary: Create an event
      description: |
        Creates an event for marketplace user from a time slot reservation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Event"
                - $ref: "#/components/schemas/EventCreateOverrides"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
          description: Created Event
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEventErrorOneOf"
      operationId: CreateEvent
      tags:
        - Marketplace Events

  /v1/marketplace/events/{event_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Retrieve an event
      description: |
        Retrieves an event for marketplace user.
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
            description: Event ID
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
          description: Events
      operationId: GetEvent
      tags:
        - Marketplace Events
    post:
      security:
        - Marketplace-Authentication: []
      summary: Update an event
      description: |
        Updates an event for marketplace user. 

        If employee and space are not provided, new employee and space will be selected at random for the new time.

        If the intent is to only move between resources (employee or space) and not change the time, starts_at will have to be passed in as the current value.

        If the intent is to only change number of guests, starts_at will have to be passed in as the current value.
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
            description: Event ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
          description: Updated Event
      operationId: UpdateEvent
      tags:
        - Marketplace Events

  /v1/marketplace/events/{event_id}/notification:
    post:
      security:
        - Marketplace-Authentication: []
      summary: Send a notification for an event
      description: |
        Sends an event notification to the specified recipient.
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
            description: Event ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventNotification"
      responses:
        "200":
          description: Success
      operationId: CreateEventNotification
      tags:
        - Marketplace Events

  /v1/marketplace/companies/{id}/events/validate:
    post:
      security:
        - Marketplace-Authentication: []
      summary: Validate event data
      description: Validates data gathered in the booking/event-creation flow.
      parameters:
        - name: id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventData"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventDataValidation"
          description: Event Data Validation
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: ValidateEventData
      tags:
        - Marketplace Events

  /v1/marketplace/user/verify_phone_number:
    post:
      summary: Verify phone number
      description: |
        Verifies a phone number by sending a unique code to it.

        The code is then used in conjuction with the phone number to create a new user or verify an existing one.

        This endpoint can also be used to verify phone numbers of users that have authenticated
        with external identity providers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyPhoneNumberRequest"
      responses:
        "200":
          description: Verification number was sent to phone number.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyPhoneNumberResult"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyPhoneNumberError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyPhoneNumberError"
      operationId: VerifyPhoneNumber
      tags:
        - Marketplace User

  /v1/marketplace/user/verified:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      summary: Creates a new user
      description: |
        Creates a new user with a verified phone number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifiedPhone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Created marketplace user
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: CreateVerifiedUser
      tags:
        - Marketplace User

  /v1/marketplace/user:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get user
      description: Gets current marketplace user, inferred from token.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Marketplace user response
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetUser
      tags:
        - Marketplace User
    post:
      security:
        - Marketplace-Authentication: []
      summary: Update user
      description: Updates current marketplace user, inferred from token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Updated marketplace user
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: UpdateUser
      tags:
        - Marketplace User
    delete:
      security:
        - Marketplace-Authentication: []
      summary: Request account deletion
      description: |
        Requests deletion of the current marketplace user account.
        This marks the user with a deleteRequestedAt timestamp and sends a notification for manual processing.
      responses:
        "200":
          description: Deletion request submitted successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: DeleteUser
      tags:
        - Marketplace User

  /v1/marketplace/user/login:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - Marketplace-Authentication: []
      summary: Login with auth provider
      description: Logs in a marketplace user with Apple or Google Sign-In ID token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SocialLoginPayload"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Marketplace user
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: LoginWithAuthProvider
      tags:
        - Marketplace User

  /v1/marketplace/user/verify_email:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      summary: Verify email
      description: Verify email with a token from the verification email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyEmailPayload"
      responses:
        "200":
          description: Email verified
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: VerifyEmail
      tags:
        - Marketplace User

  /v1/marketplace/user/location:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Derive user location
      description: Derives user location from the IP address
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserLocation"
          description: User location
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: DeriveUserLocation
      tags:
        - Hidden

  /v1/marketplace/user/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: sort
        in: query
        description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Sort"
      - name: pagination
        in: query
        description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pagination"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List user companies
      description: |
        Lists companies that have some association with the user.

        Companies the user has favorites or has booked events at.
      parameters:
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserCompaniesFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Companies"
          description: Marketplace user's companies
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListUserCompanies
      tags:
        - Marketplace User

  /v1/marketplace/user/categories:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List user categories
      description: |
        Lists categories that the user has booked in.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserCategoriesFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoriesWithMetadata"
          description: Marketplace user's categories
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListUserCategories
      tags:
        - Marketplace User

  /v1/marketplace/user/companies/{company_id}/customers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: sort
        in: query
        description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Sort"
      - name: pagination
        in: query
        description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pagination"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List customers
      description: |
        Lists customers that user has ties with at company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customers"
          description: Customers
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListCustomers
      tags:
        - Customers

  /v1/marketplace/suggestions/trending/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List trending companies
      description: |
        Returns a list of trending companies based on the user's location, booking history and behavior.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - in: query
          name: full_list
          schema:
            type: boolean
            description: Return full list of trending companies. Including competitors to companies user has booked at.
            default: false
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrendingCompaniesFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrendingCompanies"
          description: Trending Companies
      operationId: ListTrendingCompanies
      tags:
        - Recommendations

  /v1/marketplace/suggestions/company_type:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get suggested company type
      description: |
        Returns a suggested company type based on the user's location, booking history and behavior.
      parameters:
        - $ref: "#/components/parameters/user_location"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyType"
          description: Company type
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetSuggestedCompanyType
      tags:
        - Suggestions

  /v1/marketplace/recommendations/categories:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: pagination
        in: query
        description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pagination"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List recommended categories
      description: |
        Returns a list of recommended categories based on the user's location, booking history and behavior.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendedCategoriesFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoriesWithMetadata"
          description: Categories
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListRecommendedCategories
      tags:
        - Recommendations

  /v1/marketplace/suggestions/vouchers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List suggested vouchers
      description: |
        Returns a list of suggested vouchers based on the user's location, booking history and behavior.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Companies"
          description: Voucher Enabled Companies
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListSuggestedVouchers
      tags:
        - Suggestions

  /v1/marketplace/suggestions/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List suggested companies
      description: |
        Returns a list of suggested companies based on the user's location, booking history and behavior.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Companies"
          description: Suggested Companies
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListSuggestedCompanies
      tags:
        - Suggestions

  /v1/marketplace/recommendations/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List recommended companies
      description: |
        Returns a list of recommended companies tailored to the user.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendedCompaniesFilter"
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          required: false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanySort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Companies"
          description: Recommended Companies
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListRecommendedCompanies
      tags:
        - Recommendations

  /v1/marketplace/suggestions/quick_booking_searches:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List suggested quick booking searches
      description: |
        Returns a list of suggested quick booking searches based on the user's location, booking history and behavior.
      parameters:
        - $ref: "#/components/parameters/user_location"
        - in: header
          name: Accept-Language
          schema:
            type: string
            description: The language to return quick booking searches suggestions in.
            example: "is"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuickBookingSearchSuggestions"
          description: Quick Booking Searches Suggestions
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListSuggestedQuickBookingSearches
      tags:
        - Recommendations

  /v1/marketplace/event_type_categories:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List event type categories
      description: |
        Lists event type categories.
      parameters:
        - in: header
          name: Accept-Language
          schema:
            type: string
            example: "is"
            description: |
              The language to return event type categories in.

              It is also possible to query for all languages by passing in "*".
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventTypeCategories"
          description: Event Type Categories
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListEventTypeCategories
      tags:
        - Event Type Categories

  /v1/marketplace/vouchers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List vouchers
      description: Lists the vouchers of a marketplace user.
      parameters:
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vouchers"
          description: Vouchers
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListVouchers
      tags:
        - Vouchers
    post:
      security:
        - Marketplace-Authentication: []
      summary: Create a voucher
      description: |
        Creates a voucher for a marketplace user.

        There are two voucher types that are supported:

        - Amount
        - Service

        **company** and **payment** are always required fields. But depending on the voucher type, additional fields are required.

        ---
        #### Amount
        Amount vouchers represent a monetary value that can be used to pay for services at a company.

        The following fields are required when creating an amount voucher:

        - **amount** - The amount of the voucher.
        - **currency** - The currency of the voucher.

        #### Service (event_type)
        Service vouchers represent a service that can be redeemed at a company.

        The following fields are required when creating a service voucher:

        - **voucher_template** - The voucher template ID. This is the template that will be used to create the voucher.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Voucher"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Voucher
        "400":
          $ref: "#/components/responses/PaymentError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: CreateVoucher
      tags:
        - Vouchers

  /v2/marketplace/vouchers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - Marketplace-Authentication: []
      summary: Create a voucher V2
      description: Creates a voucher for a marketplace user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherCreateRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherCreateResponse"
          description: Voucher
        "400":
          $ref: "#/components/responses/PaymentError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      operationId: CreateVoucherV2
      tags:
        - Vouchers

  /v1/marketplace/vouchers/{voucher_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Retrieve voucher
      description: Gets voucher with specified ID.
      parameters:
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetVoucher
      tags:
        - Vouchers

  /v1/marketplace/vouchers/{voucher_id}/notification:
    post:
      security:
        - Marketplace-Authentication: []
      summary: Send a voucher notification
      description: |
        Sends a voucher notification to the specified recipients.

        If **send_to_user** is provided, voucher ownership will be transferred to the user.
      parameters:
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherNotification"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Voucher
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: CreateVoucherNotification
      tags:
        - Vouchers

  /v1/marketplace/cards:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List cards
      description: Lists the cards of a marketplace user.
      parameters:
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cards"
          description: Cards
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListMarketplaceCards
      tags:
        - Cards
    post:
      security:
        - Marketplace-Authentication: []
      summary: Create a card
      description: Creates a card for a marketplace user.
      parameters:
        - name: company_id
          in: query
          required: false
          description: Company ID used to determine which payment provider tokenizes the card. If omitted, defaults to Teya for backwards compatibility.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Card"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Card"
          description: Card
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: CreateMarketplaceCard
      tags:
        - Cards

  /v1/marketplace/cards/{card_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Retrieve card
      description: Gets card with specified ID.
      parameters:
        - name: card_id
          description: Card ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Card"
          description: Card
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetMarketplaceCard
      tags:
        - Cards
    delete:
      security:
        - Marketplace-Authentication: []
      summary: Delete card
      description: Deletes card with specified ID.
      parameters:
        - name: card_id
          description: Card ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Card was deleted
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: DeleteMarketplaceCard
      tags:
        - Cards

  /v1/marketplace/event_types:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Search event types
      description: |
        Searches event types across all companies accessible on the Noona marketplace.
      parameters:
        - $ref: "#/components/parameters/search"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventTypeSearchFilter"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventTypes"
          description: Event Types
      operationId: SearchEventTypes
      tags:
        - Event Types

  /v1/marketplace/companies/{company_id}/event_types:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: sort
        in: query
        description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Sort"
      - name: pagination
        in: query
        description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pagination"
    get:
      summary: List event types
      description: Retrieves all event types for a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventTypeFilter"
        - name: employee_id
          in: query
          deprecated: true
          description: "Use filter instead"
          schema:
            type: string
        - name: event_type_ids
          in: query
          deprecated: true
          description: "Use filter instead"
          schema:
            type: array
            example: ["te7da9wd8ua28a1ab", "xa7da9wd8ua01a134"]
            items:
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventTypes"
          description: Event types
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: ListEventTypes
      tags:
        - Event Types

  /v1/marketplace/event_types/{event_type_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Get event type
      description: Gets event type with specified ID.
      parameters:
        - name: event_type_id
          description: Event Type ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventType"
          description: Event type
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: GetEventType
      tags:
        - Event Types

  /v1/marketplace/companies/{company_id}/event_types/expanded:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: sort
        in: query
        description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Sort"
      - name: pagination
        in: query
        description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pagination"
    get:
      summary: List event types and groups
      description: |
        Retrieves all event types for a company in their respective groups.

        If a marketplace user token is passed in an event type group, which lists previous event types the user has
        booked, will be generated and returned.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventTypeFilter"
        - name: employee_id
          in: query
          deprecated: true
          description: "Use filter instead"
          schema:
            type: string
        - name: event_type_ids
          in: query
          deprecated: true
          description: "Use filter instead"
          schema:
            type: array
            example: ["te7da9wd8ua28a1ab", "xa7da9wd8ua01a134"]
            items:
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventTypesGroupsExpanded"
          description: Event types expanded
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: ListEventTypesExpanded
      tags:
        - Event Types

  /v1/marketplace/time_slot_reservations:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - Marketplace-Authentication: []
      summary: Create time slot reservation
      description: |
        Creates a time slot reservation for a specific event type at a company.

        The reservation can then be used to create an event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TimeSlotReservation"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeSlotReservation"
          description: Reservation
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTimeSlotReservationError"
      operationId: CreateTimeSlotReservation
      tags:
        - Time Slots

  /v1/marketplace/time_slot_reservations/{time_slot_reservation_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: time_slot_reservation_id
        in: path
        required: true
        schema:
          type: string
          example: "dwawd8awudawd"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get time slot reservation
      description: |
        Gets a time slot reservation.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeSlotReservation"
          description: Reservation
      operationId: GetTimeSlotReservation
      tags:
        - Time Slots
    post:
      security:
        - Marketplace-Authentication: []
      summary: Update time slot reservation
      description: |
        Updates a time slot reservation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TimeSlotReservationUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeSlotReservation"
          description: Reservation
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTimeSlotReservationError"
      operationId: UpdateTimeSlotReservation
      tags:
        - Time Slots
    delete:
      security:
        - Marketplace-Authentication: []
      summary: Delete time slot reservation
      description: |
        Deletes a time slot reservation.
      responses:
        "200":
          description: Time Slot Reservation deleted
      operationId: DeleteTimeSlotReservation
      tags:
        - Time Slots

  /v1/marketplace/user/payments:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List user payments
      description: Lists the payments of a marketplace user.
      parameters:
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payments"
          description: Payments
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListPayments
      tags:
        - Payments

  /v1/marketplace/user/payments/{payment_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get user payment
      description: Gets payment with ID.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
          description: Payment
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetPayment
      tags:
        - Payments
    delete:
      security:
        - Marketplace-Authentication: []
      summary: Delete user payment
      description: |
        Deletes payment with ID.

        It is only possible to delete **pending** payments that have not yet been processed.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payment was deleted
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: DeletePayment
      tags:
        - Payments

  /v1/marketplace/user/payments/{payment_id}/pay:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - Marketplace-Authentication: []
      summary: Pay for pending payment
      description: |
        Pays for a pending payment.

        It is only possible to pay for **pending** payments that have not yet been processed.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaylinkPayment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
          description: Payment
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEventErrorOneOf"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: PayForPendingPayment
      tags:
        - Payments

  /v1/marketplace/voucher_templates:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List all voucher templates
      description: Lists all voucher templates.
      parameters:
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAllVoucherTemplatesFilter"
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplates"
          description: VoucherTemplates
      operationId: ListAllVoucherTemplates
      tags:
        - Voucher Templates

  /v1/marketplace/companies/{company_id}/voucher_templates:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List voucher templates
      description: Lists the voucher templates of a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateFilter"
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplates"
          description: VoucherTemplates
      operationId: ListVoucherTemplates
      tags:
        - Voucher Templates

  /v1/marketplace/voucher_templates/{voucher_template_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get voucher template
      description: Gets a voucher template.
      parameters:
        - name: voucher_template_id
          description: Voucher Template ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplate"
          description: VoucherTemplate
      operationId: GetVoucherTemplate
      tags:
        - Voucher Templates

  /v1/marketplace/companies/{company_id}/payment_methods:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List payment methods
      description: List available payment methods for a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - name: channel
          description: Payment channel
          in: query
          schema:
            $ref: "#/components/schemas/PaymentChannel"
        - name: sort
          in: query
          description: "[Sorting](https://api.noona.is/docs/working-with-the-apis/sorting)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sort"
        - name: pagination
          in: query
          description: "[Pagination](https://api.noona.is/docs/working-with-the-apis/pagination)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethods"
          description: PaymentMethods
      operationId: ListPaymentMethods
      tags:
        - Payments

  /v1/marketplace/companies/{company_id}/apple_pay_session:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      summary: Request an Apple Pay Payment Session
      description: |
        Requests an Apple Pay Payment Session.

        The session is required for Apple Pay on web.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplePaySessionResponse"
          description: Payment
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: RequestApplePaySession
      tags:
        - Payments

  /v1/marketplace/companies/{company_id}/verifone/threeds_jwt:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Get Verifone 3DS JWT
      description: |
        Returns a JWT for initializing Cardinal.js (Songbird) 3DS device fingerprinting.
        Only available for companies with Verifone ecom payment provider configured.

        When `employee_id` is supplied and the employee has own Verifone ecom
        credentials configured (with own-settlements preferred and allowed), the JWT
        is minted from the employee's full Verifone account — userId, apiKey, AND
        3DS contract id. The 3DS contract is bound to a Verifone account, so when
        the charge will be routed to the employee's account the JWT must come from
        the same account. Otherwise the JWT is minted from the company's credentials.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - name: employee_id
          description: |
            Optional employee ID. The frontend should pass the employee selected on the
            time slot reservation so the JWT is minted from the right Verifone account
            when the employee receives funds directly via own settlements.
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verifone3dsJwtResponse"
          description: JWT response
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetVerifoneThreedsJwt
      security:
        - Marketplace-Authentication: []
      tags:
        - Payments

  /v1/marketplace/payments/callbacks/3ds:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      summary: Receive 3ds callback
      description: |
        Receives a 3ds callback from Teya.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Teya3dsCallback"
      responses:
        "302":
          description: 3ds redirect
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: Receive3dsCallback
      tags:
        - Payments

  /v1/marketplace/payments/resolve/{payment_id}:
    get:
      summary: Resolves a payment
      description: Resolves a payment
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: HTML spinner
      operationId: PaymentResolve
      tags:
        - Payments
    post:
      summary: Resolves a payment
      description: Resolves a payment
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: HTML spinner
      operationId: PaymentResolvePost
      tags:
        - Payments

  /v1/marketplace/payments/{payment_id}/cancel:
    post:
      summary: Cancels a payment
      description: |
        Cancels a payment that is currently in the `processing` state. Called by
        the cancel button rendered inside the payment iframe. Idempotent — a
        payment in any other status is left untouched and the call still returns
        200. Clients learn of the cancellation by polling payment status.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Cancellation acknowledged
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      operationId: PaymentCancel
      tags:
        - Payments

  /v1/marketplace/speedy_slots:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List speedy slots for appointment vertical
      description: |
        Lists speedy slots, availble for booking, for a specific event type at a company.

        The returned companies are solely within the appointment vertical.
      parameters:
        - $ref: "#/components/parameters/search"
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            example: "2022-11-01"
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            example: "2022-11-03"
        - in: query
          name: filter
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpeedySlotsSearchFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpeedySlots"
          description: Speedy Slots
      operationId: ListSpeedySlots
      tags:
        - Time Slots

  /v1/marketplace/speedy_tables:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - Marketplace-Authentication: []
      summary: List speedy tables for restaurant vertical
      description: |
        Lists speedy slots, availble for booking, for a specific event type (experience) at a company.

        The returned companies are solely within the restaurant vertical.
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            example: "2022-11-01"
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            example: "2022-11-03"
        - name: capacity
          in: query
          required: false
          schema:
            type: integer
            format: int32
            example: 5
            default: 1
        - in: query
          name: filter
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpeedyTablesSearchFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpeedySlots"
          description: Speedy Tables
      operationId: ListSpeedyTables
      tags:
        - Time Slots

  /v1/marketplace/waitlist_entries:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - Marketplace-Authentication: []
      summary: Create waitlist entry
      description: |
        Creates a waitlist entry at a company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WaitlistEntryCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WaitlistEntryResponse"
          description: Waitlist Entry
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: CreateWaitlistEntry
      tags:
        - Waitlists
    get:
      security:
        - Marketplace-Authentication: []
      summary: List waitlist entries
      description: |
        Lists all waitlist entries for user.
      parameters:
        - name: filter
          in: query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WaitlistFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WaitlistEntriesResponse"
          description: Waitlist Entries
      operationId: ListWaitlistEntries
      tags:
        - Waitlists

  /v1/marketplace/waitlist_entries/{waitlist_entry_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: waitlist_entry_id
        description: Waitlist Entry ID
        in: path
        required: true
        schema:
          type: string
    get:
      security:
        - Marketplace-Authentication: []
      summary: Get waitlist entry
      description: |
        Get a waitlist entry by ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WaitlistEntryResponse"
          description: Waitlist Entry
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetWaitlistEntry
      tags:
        - Waitlists
    delete:
      security:
        - Marketplace-Authentication: []
      summary: Delete waitlist entry
      description: |
[...]
